@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


h1 {
  text-align: center;
}

.bookContainer {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
  padding: 10px 0 10px 0;
  cursor: pointer;
}


.bcTitle > span {
  font-weight: bolder;
}

.bookContainer {
  width: 95%;
  margin: 0 auto;
  
}

span {
  text-align: left;
  padding-left: 100px;
  width: 25%;
}

.bookName {
  font-weight: bolder;
}

.editDelete button {
  background-color: cornflowerblue;
  color: white;
  border: none;
  cursor: pointer;

}

.modal {
  background-color: cornflowerblue;
  border: 2px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)

}

.inputGrid{ 
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  margin-bottom: 10px;
}

.formAdd {
  border: 2px solid black;
  background-color: cornflowerblue;
  color: white;
  font-size: 19px;
  width: 30%;
  margin: 10px auto 10px;
  padding: 5px;
}

.submitAdd {
  display: block;
  margin: 0 auto;
  border: none;
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: bolder;
  font-family: 'Roboto';
}





* {
  font-family: 'Roboto';
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
